.cart-icon {
    margin-left: 10px;
    color: white;
    font-size: 30px;
}
.cart-number {
    color: #f08804;
    font-size: 25px;
    margin: 0;
    margin-left: 5px;
    font-weight: 600;
}
.cart-summary {
    text-align: center;
    font-weight: 500;
}
.cart-summary h3 {
    margin-bottom: 0;
}
.cart-summary p {
    margin-top: 0;
}
.cart-details {
    margin-left: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    font-weight: 600;
    font-size: 15px;
    color:  green;
}
.cart-price {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 5px;
}
.last {
    border-bottom: 2px solid lightgray;
}
.total {
    color: #b12704;
    font-size: 20px;
}