.single-product {
    display: flex;
    border-bottom: 2px solid lightgray;
    padding-bottom: 15px;
    padding-top: 15px;
}
.product-details {
    margin-left: 20px;
}
.product-name {
    color: blue;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0;
}
.product-seller {
    color:seagreen;
    font-weight: 500;
    margin-bottom: 0px;
}
.product-price {
    font-weight: 700;
    font-size: 17px;
    color: #b12704;
    margin-top: 30px;
    margin-bottom: 10px;
}
.product-stock {
    margin-top: 20px;
    margin-bottom: 10px;
}
.quantity {
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.add-button {
    background-color: goldenrod;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}
.icon-color {
    color: gold;
}